html {
  min-width: 350px;
  font-family:
    'IBM Plex Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(210, 14%, 7%);
  color: hsl(215, 15%, 75%);
}
